[submodule "Scanners/src/--force"]
	path = Scanners/src/--force
	url = https://github.com/wpscanteam/wpscan
[submodule "Scanners/src/--name"]
	path = Scanners/src/--name
	url = https://github.com/wpscanteam/wpscan.git
